.github/
# Virtual Environment
venv/
env/
.venv/
chroma_kb/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.local
.env.example

# VS Code settings
.vscode/

# OS files
.DS_Store          # Mac
Thumbs.db          # Windows

# Distribution / build
dist/
build/
*.egg-info/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

data_60/stops.csv
data_60/stops_1.csv
data_60/stops (2).csv
__pycache__/*
*/__pycache__/*